# Desafío - Funciones y probabilidad básica

## Jose Gomez

### DESAFIO 1

In [26]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('worldcup2014.csv')

#serie = pd.Series([2,2,3,4,40])

def media_serie(x):
    """
    Funcion que calcula el promedio de los datos 
    entregados como argumento.
    
    Parametros: (x)
    X debe ser tipo (Series)
    
    return: (int)
    """
    suma = 0
    for i in x:
        suma += i
    return(suma/len(x))

def varianza_serie(x):
    """
    Funcion que calcula la varianza de los datos
    entregados como argumento.
    Datos debe ser tipo Series
    
    Esta funcion calcula el promedio de los datos de la serie
    utilizando la funcion "media_serie"
    
    Parametros: (x)
    X debe ser tipo (Series)
    
    return: (int)
    """
    promedio = media_serie(x)
    
    sumatoria = 0
    for j in x:
        tmp = (j - promedio)**2
        sumatoria += tmp
        
    return(sumatoria/len(x))

#print(media_serie(serie),varianza_serie(serie))

#### Utilice las funciones para reportar la información sobre goles_favor , goles_contra, puntos

In [3]:
##### Goles_favor #####

print(media_serie(df['goles_favor']), varianza_serie(df['goles_favor']))

4.25 5.1875

In [4]:
##### Goles_contra #####

print(media_serie(df['goles_contra']), varianza_serie(df['goles_contra']))

4.25 4.8125

In [5]:
##### puntos #####

print(media_serie(df['puntos']), varianza_serie(df['puntos']))

4.21875 8.0458984375

## Desafío 2:

In [6]:

df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

#### A continuación se presenta el siguiente código para obtener la media y varianza de una variable para distintos continentes

In [7]:
continent = []
store_mean = []
store_std = []


africa_df = df[df['continent'] == 'africa']
europe_df = df[df['continent'] == 'europe']
asia_df = df[df['continent'] == 'asia']
northamerica_df = df[df['continent'] == 'northamerica']
southamerica_df = df[df['continent'] == 'southamerica']

for d in [africa_df, europe_df, asia_df, northamerica_df, southamerica_df]:
    continent.append(d.iloc[0,1])
    store_mean.append(media_serie(d['goles_favor']))
    store_std.append(varianza_serie(d['goles_favor']))
tmp = pd.DataFrame({'continente': continent, 'media_goles': store_mean, 'std_goles': store_std})

tmp

     continente  media_goles  std_goles
0        africa     3.600000   2.640000
1        europe     4.769231   6.331361
2          asia     2.250000   0.687500
3  northamerica     3.250000   1.687500
4  southamerica     5.666667   3.888889

#### En base a la información disponible, genere una función con los argumentos group_by y var para ingresar una lista de submuestras y una variable a analizar, respectivamente.

In [8]:
store_sum_2 = []
headers = []

def funcion_desafio2(group_by,var):
    
    
    # Suma todas las columnas del dataframe "df", calcula varianza y promedio
    temp = df.groupby(by=group_by,as_index=False).sum()
    temp_var = df.groupby(by=group_by,as_index=False).var()
    temp_media = df.groupby(by=group_by,as_index=False).mean()
    
    # Crea una lista con los nombres de los continentes del dataframe agrupado (En el mismo orden reportado en temp)
    continentes = temp.continent.values

    
    # Se crea un nuevo dataframe en base a temp, temp_var y temp_media usando sólo las columnas indicadas en el argumento "var" de la funcion
    df2 = pd.DataFrame(temp, columns=var) 
    df3 = pd.DataFrame(temp_var, columns=var)
    df4 = pd.DataFrame(temp_media, columns=var)
    
    
    # Inserta en la posicion 0 la columna "continent", en base a los valores extraidos anteriormente
    df2.insert(loc=0, column='continent', value=continentes)
    
    # Concateno todos los datos de la suma total, la varianza de los datos y los promedios
    # equivalente para cada una de las columnas solicitadas
    df5 = pd.concat([df2,df3,df4], sort=False, axis=1)
    return df2, df3, df4, df5

In [9]:
# suma, varianza, media, Concatenados(cantidad, varianza y media)

temp2,temp3,temp4,temp5 = funcion_desafio2('continent',['goles_favor', 'goles_contra','puntos'])

In [10]:
temp5 # Impresión de todo el dataframe que contiene todos los datos 
# No entendí muy bien si había que reportar la varianza y la media, por eso los agregué =)

,continent,goles_favor,goles_contra,puntos,goles_favor,goles_contra,puntos,goles_favor,goles_contra,puntos
0,africa,18,28,12,3.300000,4.800000,3.300000,3.600000,5.600000,2.400000
1,asia,9,25,3,0.916667,4.250000,0.250000,2.250000,6.250000,0.750000
2,europe,62,52,61,6.858974,3.833333,6.897436,4.769231,4.000000,4.692308
3,northamerica,13,14,18,2.250000,11.000000,11.000000,3.250000,3.500000,4.500000
4,southamerica,34,17,41,4.666667,0.566667,3.766667,5.666667,2.833333,6.833333

In [11]:
#  qué continente se encuentra la mayor cantidad de goles a favor

mas_goles = temp2[temp2['goles_favor'] == temp2['goles_favor'].max()]['continent'].values[0]
print("El continente con la mayor cantidad de goles a favor es {}".format(mas_goles))

# EUROPA

El continente con la mayor cantidad de goles a favor es europe

In [12]:
#  qué continente se encuentra la mayor cantidad de goles en contra

mas_goles_contra = temp2[temp2['goles_contra'] == temp2['goles_contra'].max()]['continent'].values[0]
print("El continente con la mayor cantidad de goles en contra es",mas_goles_contra)

# EUROPA

El continente con la mayor cantidad de goles en contra es europe

In [13]:
#  qué continente se encuentra la mayor cantidad de puntos

mas_puntos = temp2[temp2['puntos'] == temp2['puntos'].max()]['continent'].values[0]
print("El continente con la mayor cantidad de goles en contra es",mas_puntos)

# EUROPA

El continente con la mayor cantidad de goles en contra es europe

### Desafío 3: Simulaciones

In [14]:
animales = ['gato','perro']

def generate_pet(animales):
    
    animal = np.random.choice(animales)
    return animal

In [15]:
generate_pet(animales)

'perro'

In [16]:
lista_result = []
for i in range(20):
    lista_result.append(generate_pet(animales))
    
lista_result
resultado = pd.DataFrame({'animal':lista_result})

In [17]:
resultado['animal'].value_counts('%')

gato     0.6
perro    0.4
Name: animal, dtype: float64

In [18]:
for i in range(len(animales)):
    print("probabilidad de {} es {} % ". format(animales[i],(lista_result.count(animales[i]))/len(lista_result)))

probabilidad de gato es 0.6 %
probabilidad de perro es 0.4 %

### Agrege np.random.seed(2) al inicio del chunk. ¿Qué hace éste método en la simulación?

##### Obliga a random a utilizar un valor de la lista generada. Le quita el carácter aleatorio y crea un numero pseudo-aleatorio con el cual utiliza un valor constante.

In [19]:
np.random.seed(2)

animales = ['perro','gato']

def generate_pet_2(animales):
    animal = np.random.choice(animales)
    return animal

lista_result_2 = []
for i in range(20):
    lista_result_2.append(generate_pet_2(animales))
    
lista_result_2

['perro',
 'gato',
 'gato',
 'perro',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'perro',
 'perro']

#### La probabilidad siempre será la misma

In [20]:
for i in range(len(animales)):
    print("probabilidad de {} es {} % ". format(animales[i],(lista_result_2.count(animales[i]))/len(lista_result_2)))

probabilidad de perro es 0.4 %
probabilidad de gato es 0.6 %

## Desafío 4: Función simuladora

In [21]:


def simulate_pets_prob(simulaciones):
    np.random.seed(1)

    ## Listas que contendrán el resultado de la funcion "generate_pet"
    # Se crean adentro para contar desde cero cada vez que se ejecute la función
    young_pet = []
    old_pet = []
    
    #############################################
    # Comienzo de las iteraciones de la funcion #
    
    for i in range(simulaciones):

        young_pet.append(generate_pet(animales))
        old_pet.append(generate_pet(animales))
        
    #    print (young_pet,old_pet)
    df_simulaciones = pd.DataFrame(data = {'young':young_pet,'old':old_pet})
    
    ############################################
    #       Conteo de los resultados           #
    ############################################
    
    # De los dos animales simulados, contar las ocasiones donde 
    # por lo menos uno de los animales sea un perro.

    df_simulaciones['1_sea_perro'] = np.where((df_simulaciones['young'] == 'perro') | (df_simulaciones['old'] == 'perro'), 1, 0)
    
    # De los dos animales simulados, contar las ocasiones donde 
    # por lo menos uno sea un perro viejo.

    df_simulaciones['perro_old'] = np.where(df_simulaciones['old'] == 'perro', 1, 0)
    
    # De los dos animales simulados, contar las ocasiones donde
    # los dos sean perros 
    
    df_simulaciones['ambos_perro'] = np.where((df_simulaciones['young'] == 'perro') & (df_simulaciones['old'] == 'perro'), 1, 0)
    return df_simulaciones

In [22]:
df_results = simulate_pets_prob(6)
#df_results

In [23]:
# Entregará el valor del indice correspondiente a "1", ya que eso indica que si se cumple la condición.
wouf1 = [df_results['1_sea_perro'].value_counts("%").values[i] for i in range(len(df_results['perro_old'].value_counts('%').index)) if df_results['1_sea_perro'].value_counts("%").index[i] == 1   ]

if not wouf1:
    wouf1 = 0
    
print(f'Probabilidad de que al menos 1 sea perro: {str(wouf1).strip("[]")}')

Probabilidad de que al menos 1 sea perro: 0.5

In [24]:
wouf2 = [df_results['perro_old'].value_counts('%').values[i] for i in range(len(df_results['perro_old'].value_counts('%').index)) if df_results['perro_old'].value_counts('%').index[i] == 1]

if not wouf2:
    wouf2 = 0

print(f'Probabilidad de que al menos 1 sea un perro viejo: {str(wouf2).strip("[]")}')

Probabilidad de que al menos 1 sea un perro viejo: 0.3333333333333333

In [25]:
wouf3 = [df_results['ambos_perro'].value_counts('%').values[i] for i in range(len(df_results['ambos_perro'].value_counts('%').index)) if df_results['ambos_perro'].value_counts('%').index[i] == 1]

if not wouf3:
    wouf3 = 0

print(f'Probabilidad de que los dos sean perros: {str(wouf3).strip("[]")}')

Probabilidad de que los dos sean perros: 0.16666666666666666

# Resultados DESAFIO 4

### - Hasta la 4ta iteración, las probabilidades son identicas para los 3 casos.
### - En la 5ta iteración, la probabilidad de que "ambos sean perros" disminuyó a 0.2 (20%), y los otros 2 casos mantienen su igualdad (0.4 para ambos).
### - En la 6ta iteración en adelante, la probabilidad mayor corresponde a "al menos 1 sea perro", seguida de "1 sea un perro viejo" y finalmente, la probabilidad más baja equivale a "que ambos sean perros". Esto se mantiene (se probó hasta 10000 iteraciones)

# Discusión

#### ¿Cuál es el menos probable? 
"Ambos sean perros"
#### ¿Cuál es el más probable? 
"Al menos 1 de ellos sea perro"