In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('got_battles.csv')

In [3]:
df.head()

,me,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [4]:
df['attacker_king'].value_counts()

Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: attacker_king, dtype: int64

In [5]:
df['attacker_king'].value_counts('%')

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [6]:
batallas_rey = df['attacker_king'].value_counts('%')

In [7]:
# No negatividad

batallas_rey > 0

Joffrey/Tommen Baratheon    True
Robb Stark                  True
Balon/Euron Greyjoy         True
Stannis Baratheon           True
Name: attacker_king, dtype: bool

In [8]:
# Aditividad y Normalización

cummulative_pr = 0
string_pr = ""

batallas_rey.items()

In [9]:
for index,value in batallas_rey.items():
    cummulative_pr += value
    string_pr += index + " "
    print(string_pr, cummulative_pr)

('Joffrey/Tommen Baratheon ', 0.3888888888888889)
('Joffrey/Tommen Baratheon Robb Stark ', 0.6666666666666667)
('Joffrey/Tommen Baratheon Robb Stark Balon/Euron Greyjoy ', 0.8611111111111112)
('Joffrey/Tommen Baratheon Robb Stark Balon/Euron Greyjoy Stannis Baratheon ', 1.0)

In [10]:
df.loc[:, ['major_death', 'major_capture']].head(5)

   major_death  major_capture
0          1.0            0.0
1          1.0            0.0
2          0.0            1.0
3          1.0            1.0
4          1.0            1.0

In [11]:
major_death_or_capture = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 or rowserie['major_capture'] == 1.0:
        major_death_or_capture += 1

In [15]:
major_death_or_capture

18

In [16]:
len(df)

38

In [20]:
major_death_or_capture / len(df)

0