# <center> Desafio 2 - Control de Flujo
## Jose Gomez

# Desafio 1

In [1]:
import numpy as np

In [2]:
array_1_50 = np.linspace(1,50)
#array_50_150 = np.linspace(50,150,101)
array_50_150 = np.linspace(50,150,dtype=int)

# Desafio 2

In [3]:
for i in array_1_50:
    if i % 2 == 0: print(i,"es par")
    else: print(i,"es impar")

(1.0, 'es impar')
(2.0, 'es par')
(3.0, 'es impar')
(4.0, 'es par')
(5.0, 'es impar')
(6.0, 'es par')
(7.0, 'es impar')
(8.0, 'es par')
(9.0, 'es impar')
(10.0, 'es par')
(11.0, 'es impar')
(12.0, 'es par')
(13.0, 'es impar')
(14.0, 'es par')
(15.0, 'es impar')
(16.0, 'es par')
(17.0, 'es impar')
(18.0, 'es par')
(19.0, 'es impar')
(20.0, 'es par')
(21.0, 'es impar')
(22.0, 'es par')
(23.0, 'es impar')
(24.0, 'es par')
(25.0, 'es impar')
(26.0, 'es par')
(27.0, 'es impar')
(28.0, 'es par')
(29.0, 'es impar')
(30.0, 'es par')
(31.0, 'es impar')
(32.0, 'es par')
(33.0, 'es impar')
(34.0, 'es par')
(35.0, 'es impar')
(36.0, 'es par')
(37.0, 'es impar')
(38.0, 'es par')
(39.0, 'es impar')
(40.0, 'es par')
(41.0, 'es impar')
(42.0, 'es par')
(43.0, 'es impar')
(44.0, 'es par')
(45.0, 'es impar')
(46.0, 'es par')
(47.0, 'es impar')
(48.0, 'es par')
(49.0, 'es impar')
(50.0, 'es par')

# Desafio 3

In [4]:
div_2_o_3 = 0
div_2_y_3 = 0
div_3_no_2 = 0
no_div_3_ni_2 = 0

for i in array_50_150:
	if (i % 2==0) or (i % 3==0):	div_2_o_3 +=1
	if (i % 2==0) and (i % 3==0):	div_2_y_3 +=1
	if (i % 3 == 0) and (i % 2 != 0): div_3_no_2 +=1
	if (i % 2 != 0) and (i % 3 != 0): no_div_3_ni_2 +=1
        
print("números divisibles por 2 o 3: {}\n\
números divisibles por 2 y 3: {}\n\
números divisibles por 3 pero no por 2: {}\n\
números no divisibles por 2 ni 3: {}".format(div_2_o_3,div_2_y_3,div_3_no_2,no_div_3_ni_2))

números divisibles por 2 o 3: 34
números divisibles por 2 y 3: 9
números divisibles por 3 pero no por 2: 8
números no divisibles por 2 ni 3: 16

# Desafio 4

In [5]:
for i in range(100):
    print(i**2) # I debe ser reemplazado por i para acceder al elemento

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

# Desafio 5

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('flights.csv')

In [8]:
media = df['passengers'].mean()

In [9]:
## medio_passengers = np.mean(df['passengers'])

In [10]:
media

280.2986111111111

In [11]:
df['underperforming'] = 0
df.head()

   year     month  passengers  underperforming
0  1949   January         112                0
1  1949  February         118                0
2  1949     March         132                0
3  1949     April         129                0
4  1949       May         121                0

In [12]:
for indice,fila in df.iterrows():
    if fila['passengers'] < media:
        df.set_value(indice,'underperforming',1)

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
df['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

In [19]:
#len(df[df['underperforming'] == 1]['month']) # 80

# Desafio 6

In [23]:
media = df['passengers'].mean()
desv_std = df['passengers'].std()

#media, desv_std  # (280.2986111111111, 119.96631694294321)

(280.2986111111111, 119.96631694294321)

In [24]:
media = df['passengers'].mean()
desv_std = df['passengers'].std()

df['outlier'] = 0

for ids, fila in df.iterrows():
	if fila['passengers'] < (media - desv_std):
		df.set_value(ids,'outlier',1)
	if fila['passengers'] > (media + desv_std):
		df.set_value(ids,'outlier',1)

print(df['outlier'].value_counts())

0    91
1    53
Name: outlier, dtype: int64

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.