# <center> Desafio_1_Introducción_al_ambiente_de_trabajo
----------------
### <center> Jose Gomez

# Desafio 1

print("Hola Mundo, esta es mi primera incursión en Python")

# Desafio 2

In [27]:
nombre = "Jose"
edad = 30
actividades_favoritas = ["programar","surfear", "ir al gym"]
mascota = 'Si'

# Desafio 3

In [23]:
print(nombre)
print(edad)
print(actividades_favoritas[1])
print(mascota)

Jose
30
surfear
Si

In [29]:
print(type(nombre))
print(type(edad))
print(type(actividades_favoritas))
print(type(mascota))

<type 'str'>
<type 'int'>
<type 'list'>
<type 'str'>

In [31]:
print("Mi nombre es {}, tengo {} años y mis actividades favoritas son {}, {}, e {}. {} tengo mascota".format(nombre,edad,actividades_favoritas[0],actividades_favoritas[1],actividades_favoritas[2],mascota))

Mi nombre es Jose, tengo 30 años y mis actividades favoritas son programar, surfear, e ir al gym. Si tengo mascota

# Desafio 4

In [32]:
# Faltaba una comilla simple
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

In [45]:
# No se puede concatenar strings con int
# Al primer print se agregó las comas separando las variables, pero no me funciona en jupyter (a diferencia de consola y como script)
# A mi al menos (macOS), no me imprime las ñ en jupyter...

print('Mi nombre es', nombre ,'y tengo', edad , 'años')
print('Mi nombre es {} y tengo {} años'.format(nombre,edad))

('Mi nombre es', 'Jose', 'y tengo', 30, 'a\xc3\xb1os')
Mi nombre es Jose y tengo 30 años

In [46]:
# Los nombres están escritos mal
import pandas as pd
import numpy as np

In [47]:
# No se puede concatenar str con int
"Ornitorrinco" + '45'

'Ornitorrinco45'

# Desafío 5: Utilizando pandas y numpy

In [48]:
# Importe pandas y numpy (Está más arriba)

# Posteriormente importe el archivo 
df = pd.read_csv('flights.csv')

In [49]:
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [50]:
df.tail(5)

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [51]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [52]:
df['month'].value_counts()

September    12
December     12
June         12
July         12
January      12
May          12
November     12
August       12
March        12
October      12
February     12
April        12
Name: month, dtype: int64

In [53]:
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [54]:
primeras_15 = df.head(15)

In [55]:
ultimas_15 = df.tail(15)

In [70]:
df['passengers'].mean()

280.2986111111111

In [71]:
df['passengers'].median()

265.5

In [60]:
np.mean(df['passengers'])

280.2986111111111

In [68]:
np.median(df['passengers'])

265.5

In [72]:
np.std(df['passengers'])

119.54904153277148

In [64]:
np.median(primeras_15['passengers'])

126.0

In [63]:
np.mean(primeras_15['passengers'])

126.8

In [74]:
np.std(primeras_15['passengers'])

12.681745410891462

In [65]:
np.median(ultimas_15['passengers'])

432.0

In [77]:
np.mean(ultimas_15['passengers'])

459.2

In [78]:
np.std(ultimas_15['passengers'])

75.29426715671431

In [79]:
stats.mode(primeras_15['passengers'])

ModeResult(mode=array([118]), count=array([2]))

In [80]:
stats.mode(ultimas_15['passengers'])

ModeResult(mode=array([461]), count=array([2]))